# - Dependencies directory
node_modules/*

# - Compiled output directory
dist/*

# - Test directory
# -- Jest
coverage/*

# - Text editor and IDE directories and files
# -- Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
# -- JetBrains
.idea/*

# - Environment files
.env
.env.*
!.env.example
